@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Add this to your existing CSS file */
html {
  scroll-behavior: smooth;
}

.fixed-bubble {
  position: fixed; /* Fija el elemento en la pantalla */
  bottom: 20px; /* Ajusta la distancia desde la parte inferior */
  right: 20px; /* Ajusta la distancia desde la derecha */
  background-color: #ffffff; /* Cambia el color de fondo de la burbuja */
  padding: 12px; /* Ajusta el relleno de la burbuja */
  border-radius: 50%; /* Hace que la burbuja sea redonda */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Añade sombra para darle un efecto elevado */
  z-index: 1000; /* Asegura que esté sobre otros elementos */
  transition: background-color 0.3s ease; /* Suaviza el cambio de color al pasar el ratón */
}

.fixed-bubble a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Cambia el color del ícono */
}

.fixed-bubble:hover {
  background-color: #754b24; /* Cambia el color de fondo cuando el ratón pasa por encima */
}

